<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="{{ path('index') }}">Simple Task Manager</a>
                <div class="navbar-nav">
                    {% if app.user.id is defined %}
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-project-modal">
                            <i class="fas fa-plus-square"></i>Create project
                        </button>

                        {{ include('modal.html.twig') }}

                        <a class="nav-link" href="{{ path('logout') }}">
                            <i class="fas fa-door-open"></i>Logout
                        </a>
                    {% else %}
                        <a class="nav-link {% if app.request.requestUri == path('login') %}active{% endif %}" href="{{ path('login') }}">
                            <i class="fas fa-sign-in-alt"></i>Login
                        </a>
                        <a class="nav-link {% if app.request.requestUri == path('registration') %}active{% endif %}" href="{{ path('registration') }}">
                            <i class="fas fa-pen"></i>Registration
                        </a>
                    {% endif %}
                </div>
            </nav>
        </header>
        {% include 'alert.html.twig' %}
        <div class="container-fluid main-container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
