{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <h3>Please sign in</h3>

    {% if errors %}
        <div class="alert alert-danger">{{ errors.messageKey|trans(errors.messageData, 'security') }}</div>
    {% endif %}

    {{ form_start(form) }}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    {{ form_widget(form) }}
    <button type="submit">Sign in</button>
    {{ form_end(form) }}
{% endblock %}
